@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Playfair+Display:wght@600;700;800&display=swap');
@import "tailwindcss";

/* @theme {
  --color-primary: #0066ff;
  --color-dark: #0a0a0a;
  --font-sans: "DM Sans", sans-serif;
  --font-display: "Playfair Display", serif;
} */

html {
  font-family: var(--font-sans);
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}
